<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anas.skripsi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".user.family"
            android:label="Family"
            android:parentActivityName=".user.LessonStudent"
            android:theme="@style/Theme.Skripsi" />
        <activity
            android:name=".user.animal"
            android:label="Animal"
            android:parentActivityName=".user.LessonStudent"
            android:theme="@style/Theme.Skripsi" />
        <activity
            android:name=".user.Pob"
            android:label="Part Of Body"
            android:parentActivityName=".user.LessonStudent"
            android:theme="@style/Theme.Skripsi" />
        <activity
            android:name=".user.Fruit"
            android:label="Fruit"
            android:parentActivityName=".user.LessonStudent"
            android:theme="@style/Theme.Skripsi" />
        <activity
            android:name=".user.LessonAlfabet"
            android:label="Alfabet"
            android:parentActivityName=".user.LessonStudent"
            android:theme="@style/Theme.Skripsi" />
        <activity
            android:name=".user.LessonStudent"
            android:label="Lesson"
            android:parentActivityName=".user.HomeStudent"
            android:theme="@style/Theme.Skripsi" />
        <activity android:name=".user.HomeStudent" />
        <activity
            android:name=".addStudent"
            android:label="Add Student"
            android:parentActivityName=".studentList"
            android:theme="@style/Theme.Skripsi" />
        <activity
            android:name=".studentList"
            android:label="List Student"
            android:parentActivityName=".Home"
            android:theme="@style/Theme.Skripsi" />
        <activity
            android:name=".change_password"
            android:label="Change Password"
            android:parentActivityName=".Home"
            android:theme="@style/Theme.Skripsi" />
        <activity
            android:name=".change_email"
            android:label="Change Email"
            android:parentActivityName=".Home"
            android:theme="@style/Theme.Skripsi" />
        <activity android:name=".forget" />
        <activity android:name=".Home" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>